:root {
  --tile-bg-image-opened:                Must be defined by js;
  --tile-bg-image-undiscovered:          Must be defined by js;
  --tile-bg-image-undiscovered-cracked:  Must be defined by js;
  --tile-bg-image-bomb:                  Must be defined by js;
  --tile-bg-image-bomb-cracked:          Must be defined by js;
  --tile-bg-image-side-left:             Must be defined by js;
  --tile-bg-image-side-right:            Must be defined by js;
  --tile-bg-image-side-top:              Must be defined by js;
  --tile-bg-image-side-bottom:           Must be defined by js;
  --tile-bg-image-one:                   Must be defined by js;
  --tile-bg-image-two:                   Must be defined by js;
  --tile-bg-image-three:                 Must be defined by js;
  --tile-bg-image-four:                  Must be defined by js;
  --tile-bg-image-five:                  Must be defined by js;
  --tile-bg-image-six:                   Must be defined by js;
  --tile-bg-image-seven:                 Must be defined by js;
  --tile-bg-image-eight:                 Must be defined by js;
  --grid-container-columns: 			 Must be defined by js;
  --grid-container-rows:    			 Must be defined by js;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: var(--grid-container-columns);
  grid-template-rows: var(--grid-container-rows);
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 10px;
  touch-action: manipulation;
}

.game-cell {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none !important; 
}

.game-cell-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s linear;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.game-cell-front, .game-cell-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game-cell-front {
  backface-visibility: hidden;
}

.game-cell-back {
  transform: rotateY(180deg);
}

.game-cell-flip {
  transform: rotateY(180deg);
}

.game-cell-flip-game-begin {
  transform: rotateY(90deg);
}

.side-indicator-left {
  position: absolute;
  content: var(--tile-bg-image-side-left);
}

.side-indicator-right {
  position: absolute;
  content: var(--tile-bg-image-side-right);
}

.side-indicator-top {
  position: absolute;
  content: var(--tile-bg-image-side-top);
}

.side-indicator-bottom {
  position: absolute;
  content: var(--tile-bg-image-side-bottom);
}

.cell_undiscovered {
  content: var(--tile-bg-image-undiscovered);
}

.cell_undiscovered_cracked {
  content: var(--tile-bg-image-undiscovered-cracked);
}

.cell_open {
  content: var(--tile-bg-image-opened);
}

.cell_bomb {
  content: var(--tile-bg-image-bomb);
}

.cell_bomb_cracked {
  content: var(--tile-bg-image-bomb-cracked);
}

.cell_one {
  position: absolute;
  content: var(--tile-bg-image-one);
}

.cell_two {
  position: absolute;
  content: var(--tile-bg-image-two);
}

.cell_three {
  position: absolute;
  content: var(--tile-bg-image-three);
}

.cell_four {
  position: absolute;
  content: var(--tile-bg-image-four);
}

.cell_five {
  position: absolute;
  content: var(--tile-bg-image-five);
}

.cell_six {
  position: absolute;
  content: var(--tile-bg-image-six);
}

.cell_seven {
  position: absolute;
  content: var(--tile-bg-image-seven);
}

.cell_eight {
  position: absolute;
  content: var(--tile-bg-image-eight);
}
